<input
  rssInputText
  [size]="this.size"
  [variant]="this.variant"
  [fluid]="this.fluid"
  [type]="this.type"
  class="rss-inputtext rss-password-input"
  [autocomplete]="this.autocomplete"
  [placeholder]="this.placeholder"
  [id]="this.inputId"
  [disabled]="this.disabled"
  [(ngModel)]="this.value"
  (blur)="this.onTouched()"
/>

@if (this.toggleMask) {
  <rss-inputicon
    class="rss-password-icon"
    [icon]="this.type === 'password' ? 'rss-eye-slash' : 'rss-eye'"
    (click)="this.toggleType()"
  ></rss-inputicon>
}
