:root {
  --rss-inputtext-sm-padding-y: var(--rss-form-field-sm-padding-y);
  --rss-inputtext-sm-padding-x: var(--rss-form-field-sm-padding-x);
  --rss-inputtext-padding-y: var(--rss-form-field-padding-y);
  --rss-inputtext-padding-x: var(--rss-form-field-padding-x);
  --rss-inputtext-lg-padding-y: var(--rss-form-field-lg-padding-y);
  --rss-inputtext-lg-padding-x: var(--rss-form-field-lg-padding-x);
}
