:root {
  --rss-inputtext-border-size: var(--rss-form-field-border-size);
  --rss-inputtext-border-radius: var(--rss-form-field-border-radius);
  --rss-inputtext-transition-duration: var(--rss-form-field-transition-duration);
  --rss-inputtext-shadow: var(--rss-form-field-shadow);
  --rss-inputtext-focus-ring-shadow: var(--rss-form-field-focus-ring-shadow);
  --rss-inputtext-focus-ring-width: var(--rss-form-field-focus-ring-width);
  --rss-inputtext-focus-ring-style: var(--rss-form-field-focus-ring-style);
  --rss-inputtext-focus-ring-color: var(--rss-form-field-focus-ring-color);
  --rss-inputtext-focus-ring-offset: var(--rss-form-field-focus-ring-offset);
}
