<rss-button
  class="toggle-theme-button"
  label="Switch theme"
  severity="contrast"
  icon="rss-home"
  variant="outlined"
  (onClick)="toggleTheme()"
  [raised]="true"
/>

<rss-button
  class="toggle-drawer-button"
  label="Switch drawer"
  severity="contrast"
  [icon]="drawerVisible ? 'rss-eye' : 'rss-eye-slash'"
  variant="outlined"
  (onClick)="drawerVisible = !drawerVisible"
  [raised]="true"
/>
<rss-drawer [(visible)]="drawerVisible" position="right" stopScrolling="true" showCloseButton="true">
  <ng-template #header>
    <div class="custom-header">Custom header</div>
  </ng-template>

  <ng-template #body>
    <rss-button label="Click me" severity="primary" icon="rss-user" (onClick)="menu.toggle($event)" />
    <rss-menu #menu [model]="menuModel" [popup]="false">
      <ng-template #start>
        <div class="custom-start">
          <strong class="text">RSSence header</strong>
        </div>
      </ng-template>
      <!-- <ng-template #item let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="rss-menu-item-link">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a [href]="item.url" class="rss-menu-item-link">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template> -->
      <ng-template #end>
        <div class="custom-end">
          <strong class="text">RSSence footer</strong>
        </div>
      </ng-template>
    </rss-menu>
  </ng-template>

  <ng-template #footer>
    <div class="custom-footer">Custom footer</div>
  </ng-template>
</rss-drawer>

<rss-toast />

<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" />

  <rss-button label="Success" severity="success" icon="rss-plus" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" />

  <rss-button label="Warn" severity="warn" icon="rss-times" />

  <rss-button label="Info" severity="info" icon="rss-search" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" />
</div>

<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" [rounded]="true" />

  <rss-button label="Success" severity="success" icon="rss-plus" [rounded]="true" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" [rounded]="true" />

  <rss-button label="Warn" severity="warn" icon="rss-times" [rounded]="true" />

  <rss-button label="Info" severity="info" icon="rss-search" [rounded]="true" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" [rounded]="true" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" [rounded]="true" />
</div>

<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" variant="outlined" />

  <rss-button label="Success" severity="success" icon="rss-plus" variant="outlined" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" variant="outlined" />

  <rss-button label="Warn" severity="warn" icon="rss-times" variant="outlined" />

  <rss-button label="Info" severity="info" icon="rss-search" variant="outlined" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" variant="outlined" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" variant="outlined" />
</div>

<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" variant="text" />

  <rss-button label="Success" severity="success" icon="rss-plus" variant="text" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" variant="text" />

  <rss-button label="Warn" severity="warn" icon="rss-times" variant="text" />

  <rss-button label="Info" severity="info" icon="rss-search" variant="text" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" variant="text" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" variant="text" />
</div>

<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" variant="text" [raised]="true" />

  <rss-button label="Success" severity="success" icon="rss-plus" variant="text" [raised]="true" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" variant="text" [raised]="true" />

  <rss-button label="Warn" severity="warn" icon="rss-times" variant="text" [raised]="true" />

  <rss-button label="Info" severity="info" icon="rss-search" variant="text" [raised]="true" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" variant="text" [raised]="true" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" variant="text" [raised]="true" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" />

  <rss-button severity="success" icon="rss-plus" />

  <rss-button severity="danger" icon="rss-trash" />

  <rss-button severity="warn" icon="rss-times" />

  <rss-button severity="info" icon="rss-search" />

  <rss-button severity="contrast" icon="rss-check" />

  <rss-button severity="secondary" icon="rss-home" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" [rounded]="true" />

  <rss-button severity="success" icon="rss-plus" [rounded]="true" />

  <rss-button severity="danger" icon="rss-trash" [rounded]="true" />

  <rss-button severity="warn" icon="rss-times" [rounded]="true" />

  <rss-button severity="info" icon="rss-search" [rounded]="true" />

  <rss-button severity="contrast" icon="rss-check" [rounded]="true" />

  <rss-button severity="secondary" icon="rss-home" [rounded]="true" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" variant="outlined" [raised]="true" />

  <rss-button severity="success" icon="rss-plus" variant="outlined" [raised]="true" />

  <rss-button severity="danger" icon="rss-trash" variant="outlined" [raised]="true" />

  <rss-button severity="warn" icon="rss-times" variant="outlined" [raised]="true" />

  <rss-button severity="info" icon="rss-search" variant="outlined" [raised]="true" />

  <rss-button severity="contrast" icon="rss-check" variant="outlined" [raised]="true" />

  <rss-button severity="secondary" icon="rss-home" variant="outlined" [raised]="true" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" [rounded]="true" variant="outlined" />

  <rss-button severity="success" icon="rss-plus" [rounded]="true" variant="outlined" />

  <rss-button severity="danger" icon="rss-trash" [rounded]="true" variant="outlined" />

  <rss-button severity="warn" icon="rss-times" [rounded]="true" variant="outlined" />

  <rss-button severity="info" icon="rss-search" [rounded]="true" variant="outlined" />

  <rss-button severity="contrast" icon="rss-check" [rounded]="true" variant="outlined" />

  <rss-button severity="secondary" icon="rss-home" [rounded]="true" variant="outlined" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" [rounded]="true" variant="text" />

  <rss-button severity="success" icon="rss-plus" [rounded]="true" variant="text" />

  <rss-button severity="danger" icon="rss-trash" [rounded]="true" variant="text" />

  <rss-button severity="warn" icon="rss-times" [rounded]="true" variant="text" />

  <rss-button severity="info" icon="rss-search" [rounded]="true" variant="text" />

  <rss-button severity="contrast" icon="rss-check" [rounded]="true" variant="text" />

  <rss-button severity="secondary" icon="rss-home" [rounded]="true" variant="text" />
</div>

<div class="box" rssRipple>Light</div>

<div class="box">
  <input type="text" rssInputText size="small" placeholder="Small" />
  <input type="text" rssInputText class="ng-invalid ng-dirty" placeholder="Invalid" />
  <input type="text" rssInputText size="large" variant="filled" placeholder="Filled" />
  <input type="text" rssInputText size="large" disabled placeholder="Disabled" />
  <input type="text" rssInputText size="large" [fluid]="true" placeholder="Fluid" />
</div>

<div class="box">
  <rss-iconfield>
    <rss-inputicon icon="rss-eye"></rss-inputicon>
    <input type="text" rssInputText placeholder="Iconfield" />
    <rss-inputicon icon="rss-eye-slash"></rss-inputicon>
  </rss-iconfield>

  <rss-iconfield>
    <input type="text" rssInputText placeholder="Iconfield" />
    <rss-inputicon icon="rss-envelope"></rss-inputicon>
  </rss-iconfield>

  <rss-iconfield>
    <rss-inputicon icon="rss-user"></rss-inputicon>
    <input type="text" rssInputText placeholder="Iconfield" />
    <rss-inputicon icon="rss-spinner rss-spin"></rss-inputicon>
  </rss-iconfield>
</div>

<div class="box">
  <rss-floatlabel>
    <input id="username" rssInputText />
    <label for="username">Username</label>
  </rss-floatlabel>

  <rss-floatlabel variant="in">
    <input id="in" rssInputText />
    <label for="in">In label</label>
  </rss-floatlabel>

  <rss-floatlabel variant="on">
    <input id="on" rssInputText />
    <label for="on">On label</label>
  </rss-floatlabel>

  <rss-floatlabel>
    <rss-iconfield>
      <rss-inputicon class="rss-icon rss-user" />
      <input id="error" class="ng-dirty ng-invalid" rssInputText />
    </rss-iconfield>
    <label for="error">Error label</label>
  </rss-floatlabel>

  <rss-floatlabel>
    <rss-iconfield>
      <rss-inputicon class="rss-icon rss-user" />
      <input rssInputText id="over_label" autocomplete="off" />
    </rss-iconfield>
    <label for="over_label">Over label</label>
  </rss-floatlabel>
</div>

<div class="box">
  <rss-message severity="info" size="small" text="How may I help you?" icon="rss-icon rss-user"></rss-message>
  <rss-message severity="success" text="Success message" icon="rss-icon rss-check">Success message </rss-message>
  <rss-message severity="warn" size="large" icon="rss-icon rss-times" text="Warn message"></rss-message>
  <rss-message severity="error" text="Error message">Error message </rss-message>
  <rss-message severity="secondary" text="Secondary message">Secondary message </rss-message>
  <rss-message severity="contrast" text="Contrast message">Contrast message </rss-message>
</div>

<div class="box">
  <rss-message variant="outlined" severity="info">
    <ng-template #icon><span class="rss-icon rss-user"></span> </ng-template>
    <span>How may I help you?</span>
  </rss-message>
  <rss-message variant="outlined" severity="success" text="Success message" icon="rss-icon rss-check"
    >Success message
  </rss-message>
  <rss-message variant="outlined" severity="warn" text="Warn message"></rss-message>
  <rss-message variant="outlined" severity="error" text="Error message">Error message </rss-message>
  <rss-message variant="outlined" severity="secondary" text="Secondary message">Secondary message </rss-message>
  <rss-message variant="outlined" severity="contrast" text="Contrast message">Contrast message </rss-message>
</div>

<div class="box">
  <rss-message variant="simple" severity="info">
    <ng-template #icon><span class="rss-icon rss-user"></span> </ng-template>
    <span>How may I help you?</span>
  </rss-message>
  <rss-message variant="simple" severity="success" text="Success message" icon="rss-icon rss-check"
    >Success message
  </rss-message>
  <rss-message variant="simple" severity="warn" text="Warn message"></rss-message>
  <rss-message variant="simple" severity="error" text="Error message">Error message </rss-message>
  <rss-message variant="simple" severity="secondary" text="Secondary message">Secondary message </rss-message>
  <rss-message variant="simple" severity="contrast" text="Contrast message">Contrast message </rss-message>
</div>

<div class="box">
  <rss-button label="Success toast" severity="success" (onClick)="showSuccess()" />

  <rss-button label="Danger toast" severity="danger" (onClick)="showError()" />

  <rss-button label="Warn toast" severity="warn" (onClick)="showWarn()" />

  <rss-button label="Info toast" severity="info" (onClick)="showInfo()" />

  <rss-button label="Secondary toast" severity="secondary" (onClick)="showSecondary()" />

  <rss-button label="Contrast toast" severity="contrast" (onClick)="showContrast()" />

  <rss-button label="Remove all toasts" severity="danger" icon="rss-times" (onClick)="clear()" />
</div>

<div class="box">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <rss-datepicker
      formControlName="date"
      [displayedMonthsCount]="1"
      selectionMode="single"
      [showTime]="true"
      [showButtonBar]="true"
      [autoClose]="true"
      view="date"
      [class]="
        formGroup.controls.date.dirty && formGroup.controls.date.hasError('required') ? 'ng-invalid ng-dirty' : ''
      "
      (change)="onDateChange($event)"
    ></rss-datepicker>
    <rss-button label="Submit" type="submit"></rss-button>
  </form>
  <span style="display: block; margin-top: 10px; margin-bottom: 10px">Selected date: {{ selectedDate }}</span>
  @if (this.formGroup.controls.date.dirty && this.formGroup.controls.date.hasError('required')) {
    <rss-message
      severity="error"
      variant="outlined"
      size="small"
      text="Date is required"
      icon="rss-icon rss-times"
    ></rss-message>
  }
  <rss-datepicker
    [(ngModel)]="multipleDates"
    [maxDate]="maxDate"
    [minDate]="minDate"
    selectionMode="multiple"
    [showButtonBar]="true"
    [displayedMonthsCount]="4"
    dateFormat="mm/yyyy"
    view="month"
  ></rss-datepicker>
  <rss-floatlabel variant="on">
    <rss-datepicker
      [(ngModel)]="rangeDates"
      [maxDate]="maxDate"
      [minDate]="minDate"
      selectionMode="range"
      [showButtonBar]="true"
      [displayedMonthsCount]="2"
      dateFormat="yyyy"
      view="year"
      displayIcon="rss-icon rss-calendar"
    >
    </rss-datepicker>
    <label for="range">Range date</label>
  </rss-floatlabel>
</div>
