<div class="box">
  <rss-button label="Primary" severity="primary" icon="rss-user" />

  <rss-button label="Success" severity="success" icon="rss-plus" />

  <rss-button label="Danger" severity="danger" icon="rss-trash" />

  <rss-button label="Warn" severity="warn" icon="rss-times" />

  <rss-button label="Info" severity="info" icon="rss-search" />

  <rss-button label="Contrast" severity="contrast" icon="rss-check" />

  <rss-button label="Secondary" severity="secondary" icon="rss-home" />
</div>

<div class="box">
  <rss-button
    label="Primary"
    severity="primary"
    icon="rss-user"
    rounded="true"
  />

  <rss-button
    label="Success"
    severity="success"
    icon="rss-plus"
    rounded="true"
  />

  <rss-button
    label="Danger"
    severity="danger"
    icon="rss-trash"
    rounded="true"
  />

  <rss-button label="Warn" severity="warn" icon="rss-times" rounded="true" />

  <rss-button label="Info" severity="info" icon="rss-search" rounded="true" />

  <rss-button
    label="Contrast"
    severity="contrast"
    icon="rss-check"
    rounded="true"
  />

  <rss-button
    label="Secondary"
    severity="secondary"
    icon="rss-home"
    rounded="true"
  />
</div>

<div class="box">
  <rss-button
    label="Primary"
    severity="primary"
    icon="rss-user"
    variant="outlined"
  />

  <rss-button
    label="Success"
    severity="success"
    icon="rss-plus"
    variant="outlined"
  />

  <rss-button
    label="Danger"
    severity="danger"
    icon="rss-trash"
    variant="outlined"
  />

  <rss-button
    label="Warn"
    severity="warn"
    icon="rss-times"
    variant="outlined"
  />

  <rss-button
    label="Info"
    severity="info"
    icon="rss-search"
    variant="outlined"
  />

  <rss-button
    label="Contrast"
    severity="contrast"
    icon="rss-check"
    variant="outlined"
  />

  <rss-button
    label="Secondary"
    severity="secondary"
    icon="rss-home"
    variant="outlined"
  />
</div>

<div class="box">
  <rss-button
    label="Primary"
    severity="primary"
    icon="rss-user"
    variant="text"
  />

  <rss-button
    label="Success"
    severity="success"
    icon="rss-plus"
    variant="text"
  />

  <rss-button
    label="Danger"
    severity="danger"
    icon="rss-trash"
    variant="text"
  />

  <rss-button label="Warn" severity="warn" icon="rss-times" variant="text" />

  <rss-button label="Info" severity="info" icon="rss-search" variant="text" />

  <rss-button
    label="Contrast"
    severity="contrast"
    icon="rss-check"
    variant="text"
  />

  <rss-button
    label="Secondary"
    severity="secondary"
    icon="rss-home"
    variant="text"
  />
</div>

<div class="box">
  <rss-button
    label="Primary"
    severity="primary"
    icon="rss-user"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Success"
    severity="success"
    icon="rss-plus"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Danger"
    severity="danger"
    icon="rss-trash"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Warn"
    severity="warn"
    icon="rss-times"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Info"
    severity="info"
    icon="rss-search"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Contrast"
    severity="contrast"
    icon="rss-check"
    variant="text"
    raised="true"
  />

  <rss-button
    label="Secondary"
    severity="secondary"
    icon="rss-home"
    variant="text"
    raised="true"
  />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" />

  <rss-button severity="success" icon="rss-plus" />

  <rss-button severity="danger" icon="rss-trash" />

  <rss-button severity="warn" icon="rss-times" />

  <rss-button severity="info" icon="rss-search" />

  <rss-button severity="contrast" icon="rss-check" />

  <rss-button severity="secondary" icon="rss-home" />
</div>

<div class="box">
  <rss-button severity="primary" icon="rss-user" rounded="true" />

  <rss-button severity="success" icon="rss-plus" rounded="true" />

  <rss-button severity="danger" icon="rss-trash" rounded="true" />

  <rss-button severity="warn" icon="rss-times" rounded="true" />

  <rss-button severity="info" icon="rss-search" rounded="true" />

  <rss-button severity="contrast" icon="rss-check" rounded="true" />

  <rss-button severity="secondary" icon="rss-home" rounded="true" />
</div>

<div class="box">
  <rss-button
    severity="primary"
    icon="rss-user"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="success"
    icon="rss-plus"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="danger"
    icon="rss-trash"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="warn"
    icon="rss-times"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="info"
    icon="rss-search"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="contrast"
    icon="rss-check"
    variant="outlined"
    raised="true"
  />

  <rss-button
    severity="secondary"
    icon="rss-home"
    variant="outlined"
    raised="true"
  />
</div>

<div class="box">
  <rss-button
    severity="primary"
    icon="rss-user"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="success"
    icon="rss-plus"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="danger"
    icon="rss-trash"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="warn"
    icon="rss-times"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="info"
    icon="rss-search"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="contrast"
    icon="rss-check"
    rounded="true"
    variant="outlined"
  />

  <rss-button
    severity="secondary"
    icon="rss-home"
    rounded="true"
    variant="outlined"
  />
</div>

<div class="box">
  <rss-button
    severity="primary"
    icon="rss-user"
    rounded="true"
    variant="text"
  />

  <rss-button
    severity="success"
    icon="rss-plus"
    rounded="true"
    variant="text"
  />

  <rss-button
    severity="danger"
    icon="rss-trash"
    rounded="true"
    variant="text"
  />

  <rss-button severity="warn" icon="rss-times" rounded="true" variant="text" />

  <rss-button severity="info" icon="rss-search" rounded="true" variant="text" />

  <rss-button
    severity="contrast"
    icon="rss-check"
    rounded="true"
    variant="text"
  />

  <rss-button
    severity="secondary"
    icon="rss-home"
    rounded="true"
    variant="text"
  />
</div>

<div class="box" rssRipple>Light</div>

<input type="text" rssInputText size="small" placeholder="Small" />
<input
  type="text"
  rssInputText
  class="ng-invalid ng-dirty"
  placeholder="Invalid"
/>
<input
  type="text"
  rssInputText
  size="large"
  variant="filled"
  placeholder="Filled"
/>
<input type="text" rssInputText size="large" disabled placeholder="Disabled" />
<input type="text" rssInputText size="large" fluid="true" placeholder="Fluid" />

<rss-button
  label="Switch theme"
  severity="contrast"
  icon="rss-home"
  variant="outlined"
  (onClick)="toggleTheme()"
  raised="true"
/>
