@font-face {
  font-family: icomoon;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./icomoon.eot');
  src:
    url('./icomoon.eot?#iefix') format('embedded-opentype'),
    url('./icomoon.woff') format('woff'),
    url('./icomoon.ttf') format('truetype'),
    url('./icomoon.svg?#icomoon') format('svg');
}

:root {
  --rss-icon-size: 1.25rem;
}

.rss-icon {
  display: inline-block;

  font-family: icomoon, sans-serif;
  font-size: var(--rss-icon-size);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

.rss-icon::before {
  backface-visibility: hidden;
}

.rss-spinner::before {
  content: '\e900';
}

.rss-user::before {
  content: '\e901';
}

.rss-users::before {
  content: '\e902';
}

.rss-check::before {
  content: '\e903';
}

.rss-times::before {
  content: '\e904';
}

.rss-search::before {
  content: '\e905';
}

.rss-plus::before {
  content: '\e906';
}

.rss-trash::before {
  content: '\e907';
}

.rss-home::before {
  content: '\e908';
}

.rss-eye::before {
  content: '\e90b';
}

.rss-eye-slash::before {
  content: '\e90a';
}

.rss-envelope::before {
  content: '\e909';
}

.rss-calendar::before {
  content: '\e90c';
}

.rss-chevronleft::before {
  content: '\e90d';
}

.rss-chevronright::before {
  content: '\e90f';
}

.rss-chevronleftdouble::before {
  content: '\e90e';
}

.rss-chevronrightdouble::before {
  content: '\e910';
}
