:root {
  --rss-menu-border-radius: var(--rss-content-border-radius);
  --rss-menu-item-border-radius: var(--rss-border-radius-sm);
  --rss-menu-list-gap: var(--rss-two-px);
  --rss-menu-item-gap: var(--rss-eight-px);
}
