:root {
  --rss-form-field-sm-font-size: var(--rss-fourteen-px);
  --rss-form-field-font-size: var(--rss-sixteen-px);
  --rss-form-field-lg-font-size: calc(var(--rss-sixteen-px) + var(--rss-two-px));
}
