:root {
  --rss-floatlabel-position-x: var(--rss-form-field-padding-x);
  --rss-floatlabel-over-active-top: -1.25rem;
  --rss-floatlabel-in-active-top: 0.5rem;
  --rss-floatlabel-on-active-padding: 0 0.125rem;
  --rss-floatlabel-in-input-padding-top: 1.5rem;
}
