:root {
  --rss-inputtext-sm-font-size: var(--rss-form-field-sm-font-size);
  --rss-inputtext-font-size: var(--rss-form-field-font-size);
  --rss-inputtext-lg-font-size: var(--rss-form-field-lg-font-size);
}
