.rss-inputicon {
  position: absolute;
  top: 50%;

  margin-top: calc(-1 * (var(--rss-icon-size) / 2));

  line-height: 1;
  color: var(--rss-iconfield-icon-color);

  transition: color var(--rss-transition-duration);
}
