:root {
  --rss-icon-size: 1rem;
}

.rss-icon {
  display: inline-block;

  font-family: icomoon, sans-serif;
  font-size: var(--rss-icon-size);
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  text-transform: none;
}

.rss-icon::before {
  backface-visibility: hidden;
}
