:root {
  --rss-form-field-color: var(--rss-surface-700);
  --rss-form-field-disabled-color: var(--rss-surface-500);
  --rss-form-field-background: var(--rss-surface-0);
  --rss-form-field-filled-background: var(--rss-surface-50);
  --rss-form-field-disabled-background: var(--rss-surface-200);
  --rss-form-field-placeholder-color: var(--rss-surface-400);
  --rss-form-field-invalid-placeholder-color: var(--rss-red-600);
  --rss-form-field-border-color: var(--rss-surface-300);
  --rss-form-field-hover-border-color: var(--rss-surface-400);
  --rss-form-field-focus-border-color: var(--rss-primary-color);
  --rss-form-field-invalid-border-color: var(--rss-red-400);
  --rss-form-field-icon-color: var(--rss-surface-400);
}

.rss-dark {
  --rss-form-field-color: var(--rss-surface-300);
  --rss-form-field-disabled-color: var(--rss-surface-400);
  --rss-form-field-background: var(--rss-surface-950);
  --rss-form-field-filled-background: var(--rss-surface-800);
  --rss-form-field-disabled-background: var(--rss-surface-700);
  --rss-form-field-placeholder-color: var(--rss-surface-500);
  --rss-form-field-invalid-placeholder-color: var(--rss-red-500);
  --rss-form-field-border-color: var(--rss-surface-600);
  --rss-form-field-hover-border-color: var(--rss-surface-500);
  --rss-form-field-focus-border-color: var(--rss-primary-color);
  --rss-form-field-invalid-border-color: var(--rss-red-300);
}