:root {
  --rss-form-field-sm-padding-y: 0.375rem;
  --rss-form-field-sm-padding-x: 0.625rem;
  --rss-form-field-padding-y: 0.5rem;
  --rss-form-field-padding-x: 0.75rem;
  --rss-form-field-lg-padding-y: 0.625rem;
  --rss-form-field-lg-padding-x: 0.875rem;
}
