:root {
  --rss-form-field-sm-padding-y: var(--rss-six-px);
  --rss-form-field-sm-padding-x: var(--rss-ten-px);
  --rss-form-field-padding-y: var(--rss-eight-px);
  --rss-form-field-padding-x: var(--rss-twelve-px);
  --rss-form-field-lg-padding-y: var(--rss-ten-px);
  --rss-form-field-lg-padding-x: var(--rss-fourteen-px);
}