:root {
  --rss-one-px: 0.063rem;
  --rss-two-px: 0.125rem;
  --rss-three-px: 0.188rem;
  --rss-four-px: 0.25rem;
  --rss-five-px: 0.313rem;
  --rss-six-px: 0.375rem;
  --rss-seven-px: 0.438rem;
  --rss-eight-px: 0.5rem;
  --rss-nine-px: 0.563rem;
  --rss-ten-px: 0.625rem;
  --rss-eleven-px: 0.688rem;
  --rss-twelve-px: 0.75rem;
  --rss-thirteen-px: 0.813rem;
  --rss-fourteen-px: 0.875rem;
  --rss-fifteen-px: 0.938rem;
  --rss-sixteen-px: 1rem;
}
