*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;

  font-family: var(--rss-font-family);
  font-weight: var(--rss-font-weight);
  line-height: var(--rss-line-height);
  color: var(--rss-text-color);

  background-color: var(--rss-ground-background);
}

button {
  margin: 0;
  padding: 0;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0;

  font-family: inherit;
  font-size: 100%;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-rendering: geometricprecision;

  background-color: transparent;
  background-image: none;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.rss-stop-scrolling {
  overflow: hidden;
}
