:root {
  --rss-border-radius-none: 0;
  --rss-border-radius-xs: 0.125rem;
  --rss-border-radius-sm: 0.25rem;
  --rss-border-radius-md: 0.375rem;
  --rss-border-radius-lg: 0.5rem;
  --rss-border-radius-xl: 0.75rem;
  --rss-disabled-opacity: 0.6;
  --rss-transition-duration: 0.2s;
  --rss-ripple-background: rgba(0, 0, 0, 0.1);
  --rss-focus-ring-width: 0.13rem;
  --rss-focus-ring-style: solid;
  --rss-focus-ring-color: var(--rss-primary-color);
  --rss-focus-ring-offset: 0.06rem;
}