:root {
  --rss-font-family:
    system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --rss-font-weight: 400;
  --rss-line-height: 1.5;
}
