@font-face {
  font-family: icomoon;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url("./icomoon.eot");
  src:
    url("./icomoon.eot?#iefix") format("embedded-opentype"),
    url("./icomoon.woff") format("woff"),
    url("./icomoon.ttf") format("truetype"),
    url("./icomoon.svg?#icomoon") format("svg");
}

.rss-icon {
  display: inline-block;

  font-family: icomoon, sans-serif;
  font-size: 1rem;
  font-variant: normal;
  line-height: inherit;
  text-transform: none;
}

.rss-icon::before {
  backface-visibility: hidden;
}

.rss-spinner::before {
  content: "\e900";
}

.rss-user::before {
  content: "\e901";
}

.rss-users::before {
  content: "\e902";
}

.rss-check::before {
  content: "\e903";
}

.rss-times::before {
  content: "\e904";
}

.rss-search::before {
  content: "\e905";
}

.rss-plus::before {
  content: "\e906";
}

.rss-trash::before {
  content: "\e907";
}
