.rss-button {
  cursor: pointer;
  user-select: none;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  gap: var(--rss-button-gap);
  align-items: center;
  justify-content: center;

  padding: var(--rss-button-padding-y) var(--rss-button-padding-x);
  border: var(--rss-button-border-size) solid var(--rss-button-primary-border-color);
  border-radius: var(--rss-button-border-radius);

  font-size: var(--rss-button-font-size);
  line-height: 100%;
  color: var(--rss-button-primary-color);

  background-color: var(--rss-button-primary-background);
  outline-color: transparent;

  transition:
    background-color var(--rss-button-transition-duration),
    color var(--rss-button-transition-duration),
    border-color var(--rss-button-transition-duration),
    outline-color var(--rss-button-transition-duration),
    box-shadow var(--rss-button-transition-duration),
    opacity var(--rss-button-transition-duration),
    border-radius var(--rss-button-transition-duration);

  &:disabled {
    cursor: default;
    opacity: var(--rss-disabled-opacity);
  }

  &:focus-visible {
    outline: var(--rss-button-focus-ring-width) var(--rss-button-focus-ring-style)
      var(--rss-button-primary-focus-ring-color);
    outline-offset: var(--rss-button-primary-focus-ring-offset);
    box-shadow: var(--rss-button-primary-focus-ring-shadow);
  }

  &:not(:disabled):hover {
    border-color: var(--rss-button-primary-hover-border-color);
    color: var(--rss-button-primary-hover-color);
    background: var(--rss-button-primary-hover-background);
  }

  &:not(:disabled):active {
    border-color: var(--rss-button-primary-active-border-color);
    color: var(--rss-button-primary-active-color);
    background: var(--rss-button-primary-active-background);
  }

  &-label {
    font-weight: var(--rss-button-label-font-weight);
  }

  &-raised {
    box-shadow: var(--rss-button-raised-shadow);
  }

  &-rounded {
    border-radius: var(--rss-button-rounded-border-radius);
  }

  &-success {
    border-color: var(--rss-button-success-border-color);
    color: var(--rss-button-success-color);
    background-color: var(--rss-button-success-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-success-hover-border-color);
        color: var(--rss-button-success-hover-color);
        background: var(--rss-button-success-hover-background);
      }

      &:active {
        border-color: var(--rss-button-success-active-border-color);
        color: var(--rss-button-success-active-color);
        background: var(--rss-button-success-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-success-focus-ring-color);
      box-shadow: var(--rss-button-success-focus-ring-shadow);
    }
  }

  &-secondary {
    border-color: var(--rss-button-secondary-border-color);
    color: var(--rss-button-secondary-color);
    background-color: var(--rss-button-secondary-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-secondary-hover-border-color);
        color: var(--rss-button-secondary-hover-color);
        background: var(--rss-button-secondary-hover-background);
      }

      &:active {
        border-color: var(--rss-button-secondary-active-border-color);
        color: var(--rss-button-secondary-active-color);
        background: var(--rss-button-secondary-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-secondary-focus-ring-color);
      box-shadow: var(--rss-button-secondary-focus-ring-shadow);
    }
  }

  &-info {
    border-color: var(--rss-button-info-border-color);
    color: var(--rss-button-info-color);
    background-color: var(--rss-button-info-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-info-hover-border-color);
        color: var(--rss-button-info-hover-color);
        background: var(--rss-button-info-hover-background);
      }

      &:active {
        border-color: var(--rss-button-info-active-border-color);
        color: var(--rss-button-info-active-color);
        background: var(--rss-button-info-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-info-focus-ring-color);
      box-shadow: var(--rss-button-info-focus-ring-shadow);
    }
  }

  &-warn {
    border-color: var(--rss-button-warn-border-color);
    color: var(--rss-button-warn-color);
    background-color: var(--rss-button-warn-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-warn-hover-border-color);
        color: var(--rss-button-warn-hover-color);
        background: var(--rss-button-warn-hover-background);
      }

      &:active {
        border-color: var(--rss-button-warn-active-border-color);
        color: var(--rss-button-warn-active-color);
        background: var(--rss-button-warn-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-warn-focus-ring-color);
      box-shadow: var(--rss-button-warn-focus-ring-shadow);
    }
  }

  &-danger {
    border-color: var(--rss-button-danger-border-color);
    color: var(--rss-button-danger-color);
    background-color: var(--rss-button-danger-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-danger-hover-border-color);
        color: var(--rss-button-danger-hover-color);
        background: var(--rss-button-danger-hover-background);
      }

      &:active {
        border-color: var(--rss-button-danger-active-border-color);
        color: var(--rss-button-danger-active-color);
        background: var(--rss-button-danger-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-danger-focus-ring-color);
      box-shadow: var(--rss-button-danger-focus-ring-shadow);
    }
  }

  &-contrast {
    border-color: var(--rss-button-contrast-border-color);
    color: var(--rss-button-contrast-color);
    background-color: var(--rss-button-contrast-background);

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-contrast-hover-border-color);
        color: var(--rss-button-contrast-hover-color);
        background: var(--rss-button-contrast-hover-background);
      }

      &:active {
        border-color: var(--rss-button-contrast-active-border-color);
        color: var(--rss-button-contrast-active-color);
        background: var(--rss-button-contrast-active-background);
      }
    }

    &:focus-visible {
      outline-color: var(--rss-button-contrast-focus-ring-color);
      box-shadow: var(--rss-button-contrast-focus-ring-shadow);
    }
  }

  &-text {
    border-color: transparent;
    color: var(--rss-button-text-primary-color);
    background: transparent;

    &:not(:disabled) {
      &:hover {
        border-color: transparent;
        color: var(--rss-button-text-primary-color);
        background: var(--rss-button-text-primary-hover-background);
      }

      &:active {
        border-color: transparent;
        color: var(--rss-button-text-primary-color);
        background: var(--rss-button-text-primary-active-background);
      }
    }

    &.rss-button-secondary {
      color: var(--rss-button-text-secondary-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-secondary-color);
          background: var(--rss-button-text-secondary-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-secondary-color);
          background: var(--rss-button-text-secondary-active-background);
        }
      }
    }

    &.rss-button-success {
      color: var(--rss-button-text-success-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-success-color);
          background: var(--rss-button-text-success-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-success-color);
          background: var(--rss-button-text-success-active-background);
        }
      }
    }

    &.rss-button-info {
      color: var(--rss-button-text-info-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-info-color);
          background: var(--rss-button-text-info-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-info-color);
          background: var(--rss-button-text-info-active-background);
        }
      }
    }

    &.rss-button-warn {
      color: var(--rss-button-text-warn-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-warn-color);
          background: var(--rss-button-text-warn-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-warn-color);
          background: var(--rss-button-text-warn-active-background);
        }
      }
    }

    &.rss-button-danger {
      color: var(--rss-button-text-danger-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-danger-color);
          background: var(--rss-button-text-danger-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-danger-color);
          background: var(--rss-button-text-danger-active-background);
        }
      }
    }

    &.rss-button-contrast {
      color: var(--rss-button-text-contrast-color);

      &:not(:disabled) {
        &:hover {
          border-color: transparent;
          color: var(--rss-button-text-contrast-color);
          background: var(--rss-button-text-contrast-hover-background);
        }

        &:active {
          border-color: transparent;
          color: var(--rss-button-text-contrast-color);
          background: var(--rss-button-text-contrast-active-background);
        }
      }
    }
  }

  &-outlined {
    border-color: var(--rss-button-outlined-primary-border-color);
    color: var(--rss-button-outlined-primary-color);
    background: transparent;

    &:not(:disabled) {
      &:hover {
        border-color: var(--rss-button-outlined-primary-border-color);
        color: var(--rss-button-outlined-primary-color);
        background: var(--rss-button-outlined-primary-hover-background);
      }

      &:active {
        border-color: var(--rss-button-outlined-primary-border-color);
        color: var(--rss-button-outlined-primary-color);
        background: var(--rss-button-outlined-primary-active-background);
      }
    }

    &.rss-button-secondary {
      border-color: var(--rss-button-outlined-secondary-border-color);
      color: var(--rss-button-outlined-secondary-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-secondary-border-color);
          color: var(--rss-button-outlined-secondary-color);
          background: var(--rss-button-text-secondary-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-secondary-border-color);
          color: var(--rss-button-text-secondary-color);
          background: var(--rss-button-text-secondary-active-background);
        }
      }
    }

    &.rss-button-success {
      border-color: var(--rss-button-outlined-success-border-color);
      color: var(--rss-button-outlined-success-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-success-border-color);
          color: var(--rss-button-outlined-success-color);
          background: var(--rss-button-text-success-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-success-border-color);
          color: var(--rss-button-text-success-color);
          background: var(--rss-button-text-success-active-background);
        }
      }
    }

    &.rss-button-info {
      border-color: var(--rss-button-outlined-info-border-color);
      color: var(--rss-button-outlined-info-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-info-border-color);
          color: var(--rss-button-outlined-info-color);
          background: var(--rss-button-text-info-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-info-border-color);
          color: var(--rss-button-text-info-color);
          background: var(--rss-button-text-info-active-background);
        }
      }
    }

    &.rss-button-warn {
      border-color: var(--rss-button-outlined-warn-border-color);
      color: var(--rss-button-outlined-warn-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-warn-border-color);
          color: var(--rss-button-outlined-warn-color);
          background: var(--rss-button-text-warn-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-warn-border-color);
          color: var(--rss-button-text-warn-color);
          background: var(--rss-button-text-warn-active-background);
        }
      }
    }

    &.rss-button-danger {
      border-color: var(--rss-button-outlined-danger-border-color);
      color: var(--rss-button-outlined-danger-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-danger-border-color);
          color: var(--rss-button-outlined-danger-color);
          background: var(--rss-button-text-danger-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-danger-border-color);
          color: var(--rss-button-text-danger-color);
          background: var(--rss-button-text-danger-active-background);
        }
      }
    }

    &.rss-button-contrast {
      border-color: var(--rss-button-outlined-contrast-border-color);
      color: var(--rss-button-outlined-contrast-color);

      &:not(:disabled) {
        &:hover {
          border-color: var(--rss-button-outlined-contrast-border-color);
          color: var(--rss-button-outlined-contrast-color);
          background: var(--rss-button-text-contrast-hover-background);
        }

        &:active {
          border-color: var(--rss-button-outlined-contrast-border-color);
          color: var(--rss-button-text-contrast-color);
          background: var(--rss-button-text-contrast-active-background);
        }
      }
    }
  }

  &-small {
    padding: var(--rss-button-sm-padding-y) var(--rss-button-sm-padding-x);
    font-size: var(--rss-button-sm-font-size);
  }

  &-normal {
    padding: var(--rss-button-padding-y) var(--rss-button-padding-x);
    font-size: var(--rss-button-font-size);
  }

  &-large {
    padding: var(--rss-button-lg-padding-y) var(--rss-button-lg-padding-x);
    font-size: var(--rss-button-lg-font-size);
  }

  &-vertical {
    flex-direction: column;
  }

  &-icon {
    &-right {
      order: 1;
    }

    &-bottom {
      order: 2;
    }
  }

  &-icon-only {
    gap: 0;
    width: var(--rss-button-icon-only-width);
    padding-right: 0;
    padding-left: 0;

    &.rss-button-rounded {
      height: var(--rss-button-icon-only-width);
      border-radius: 50%;
    }
  }

  &-fluid {
    width: 100%;
  }
}
