:root {
  --rss-message-content-gap: var(--rss-eight-px);
  --rss-message-content-small-padding: var(--rss-six-px) var(--rss-ten-px);
  --rss-message-content-padding: var(--rss-eight-px) var(--rss-twelve-px);
  --rss-message-content-large-padding: var(--rss-ten-px) var(--rss-fourteen-px);
}
