:root {
  --rss-toast-text-gap: var(--rss-four-px);
  --rss-toast-content-gap: var(--rss-eight-px);
  --rss-toast-border-radius: var(--rss-border-radius-md);
  --rss-toast-border-width: var(--rss-one-px);
  --rss-toast-blur: var(--rss-ten-px);
  --rss-toast-message-animation-duration: 0.25s;
}
