:root {
  --rss-toast-icon-size: var(--rss-sixteen-px);
  --rss-toast-summary-font-size: var(--rss-sixteen-px);
  --rss-toast-summary-font-weight: 500;
  --rss-toast-detail-font-size: var(--rss-fourteen-px);
  --rss-toast-detail-font-weight: 400;
}
