:root {
  --rss-button-primary-color: var(--rss-primary-contrast-color);
  --rss-button-primary-hover-color: var(--rss-primary-contrast-color);
  --rss-button-primary-active-color: var(--rss-primary-contrast-color);
  --rss-button-primary-background: var(--rss-primary-color);
  --rss-button-primary-hover-background: var(--rss-primary-hover-color);
  --rss-button-primary-active-background: var(--rss-primary-active-color);
  --rss-button-primary-border-color: var(--rss-primary-color);
  --rss-button-primary-hover-border-color: var(--rss-primary-hover-color);
  --rss-button-primary-active-border-color: var(--rss-primary-active-color);
  --rss-button-text-primary-color: var(--rss-primary-color);
  --rss-button-text-primary-hover-background: var(--rss-primary-50);
  --rss-button-text-primary-active-background: var(--rss-primary-100);
  --rss-button-outlined-primary-color: var(--rss-primary-color);
  --rss-button-outlined-primary-border-color: var(--rss-primary-200);
  --rss-button-outlined-primary-hover-background: var(--rss-primary-50);
  --rss-button-outlined-primary-active-background: var(--rss-primary-100);


  --rss-button-success-color: #fff;
  --rss-button-success-hover-color: #fff;
  --rss-button-success-active-color: #fff;
  --rss-button-success-background: var(--rss-green-500);
  --rss-button-success-hover-background: var(--rss-green-600);
  --rss-button-success-active-background: var(--rss-green-700);
  --rss-button-success-border-color: var(--rss-green-500);
  --rss-button-success-hover-border-color: var(--rss-green-600);
  --rss-button-success-active-border-color: var(--rss-green-700);
  --rss-button-text-success-color: var(--rss-green-500);
  --rss-button-text-success-hover-background: var(--rss-green-50);
  --rss-button-text-success-active-background: var(--rss-green-100);
  --rss-button-outlined-success-color: var(--rss-green-500);
  --rss-button-outlined-success-border-color: var(--rss-green-200);
  --rss-button-outlined-success-hover-background: var(--rss-green-50);
  --rss-button-outlined-success-active-background: var(--rss-green-100);

  --rss-button-secondary-color: var(--rss-surface-600);
  --rss-button-secondary-hover-color: var(--rss-surface-700);
  --rss-button-secondary-active-color: var(--rss-surface-800);
  --rss-button-secondary-background: var(--rss-surface-100);
  --rss-button-secondary-hover-background: var(--rss-surface-200);
  --rss-button-secondary-active-background: var(--rss-surface-300);
  --rss-button-secondary-border-color: var(--rss-surface-100);
  --rss-button-secondary-hover-border-color: var(--rss-surface-200);
  --rss-button-secondary-active-border-color: var(--rss-surface-300);
  --rss-button-text-secondary-color: var(--rss-surface-500);
  --rss-button-text-secondary-hover-background: var(--rss-surface-50);
  --rss-button-text-secondary-active-background: var(--rss-surface-100);
  --rss-button-outlined-secondary-color: var(--rss-surface-500);
  --rss-button-outlined-secondary-border-color: var(--rss-surface-200);
  --rss-button-outlined-secondary-hover-background: var(--rss-surface-50);
  --rss-button-outlined-secondary-active-background: var(--rss-surface-100);

  --rss-button-info-color: #fff;
  --rss-button-info-hover-color: #fff;
  --rss-button-info-active-color: #fff;
  --rss-button-info-background: var(--rss-sky-500);
  --rss-button-info-hover-background: var(--rss-sky-600);
  --rss-button-info-active-background: var(--rss-sky-700);
  --rss-button-info-border-color: var(--rss-sky-500);
  --rss-button-info-hover-border-color: var(--rss-sky-600);
  --rss-button-info-active-border-color: var(--rss-sky-700);
  --rss-button-text-info-color: var(--rss-sky-500);
  --rss-button-text-info-hover-background: var(--rss-sky-50);
  --rss-button-text-info-active-background: var(--rss-sky-100);
  --rss-button-outlined-info-color: var(--rss-sky-500);
  --rss-button-outlined-info-border-color: var(--rss-sky-200);
  --rss-button-outlined-info-hover-background: var(--rss-sky-50);
  --rss-button-outlined-info-active-background: var(--rss-sky-100);

  --rss-button-warn-color: #fff;
  --rss-button-warn-hover-color: #fff;
  --rss-button-warn-active-color: #fff;
  --rss-button-warn-background: var(--rss-orange-500);
  --rss-button-warn-hover-background: var(--rss-orange-600);
  --rss-button-warn-active-background: var(--rss-orange-700);
  --rss-button-warn-border-color: var(--rss-orange-500);
  --rss-button-warn-hover-border-color: var(--rss-orange-600);
  --rss-button-warn-active-border-color: var(--rss-orange-700);
  --rss-button-text-warn-color: var(--rss-orange-500);
  --rss-button-text-warn-hover-background: var(--rss-orange-50);
  --rss-button-text-warn-active-background: var(--rss-orange-100);
  --rss-button-outlined-warn-color: var(--rss-orange-500);
  --rss-button-outlined-warn-border-color: var(--rss-orange-200);
  --rss-button-outlined-warn-hover-background: var(--rss-orange-50);
  --rss-button-outlined-warn-active-background: var(--rss-orange-100);

  --rss-button-danger-color: #fff;
  --rss-button-danger-hover-color: #fff;
  --rss-button-danger-active-color: #fff;
  --rss-button-danger-background: var(--rss-red-500);
  --rss-button-danger-hover-background: var(--rss-red-600);
  --rss-button-danger-active-background: var(--rss-red-700);
  --rss-button-danger-border-color: var(--rss-red-500);
  --rss-button-danger-hover-border-color: var(--rss-red-600);
  --rss-button-danger-active-border-color: var(--rss-red-700);
  --rss-button-text-danger-color: var(--rss-red-500);
  --rss-button-text-danger-hover-background: var(--rss-red-50);
  --rss-button-text-danger-active-background: var(--rss-red-100);
  --rss-button-outlined-danger-color: var(--rss-red-500);
  --rss-button-outlined-danger-border-color: var(--rss-red-200);
  --rss-button-outlined-danger-hover-background: var(--rss-red-50);
  --rss-button-outlined-danger-active-background: var(--rss-red-100);

  --rss-button-contrast-color: var(--rss-surface-0);
  --rss-button-contrast-hover-color: var(--rss-surface-0);
  --rss-button-contrast-active-color: var(--rss-surface-0);
  --rss-button-contrast-background: var(--rss-surface-950);
  --rss-button-contrast-hover-background: var(--rss-surface-900);
  --rss-button-contrast-active-background: var(--rss-surface-800);
  --rss-button-contrast-border-color: var(--rss-surface-950);
  --rss-button-contrast-hover-border-color: var(--rss-surface-900);
  --rss-button-contrast-active-border-color: var(--rss-surface-800);
  --rss-button-text-contrast-color: var(--rss-surface-950);
  --rss-button-text-contrast-hover-background: var(--rss-surface-50);
  --rss-button-text-contrast-active-background: var(--rss-surface-100);
  --rss-button-outlined-contrast-color: var(--rss-surface-950);
  --rss-button-outlined-contrast-border-color: var(--rss-surface-700);
  --rss-button-outlined-contrast-hover-background: var(--rss-surface-50);
  --rss-button-outlined-contrast-active-background: var(--rss-surface-100);
}
