:root {
  --rss-button-sm-padding-y: var(--rss-form-field-sm-padding-y);
  --rss-button-sm-padding-x: var(--rss-form-field-sm-padding-x);
  --rss-button-padding-y: var(--rss-form-field-padding-y);
  --rss-button-padding-x: var(--rss-form-field-padding-x);
  --rss-button-lg-padding-y: var(--rss-form-field-lg-padding-y);
  --rss-button-lg-padding-x: var(--rss-form-field-lg-padding-x);
  --rss-button-gap: 0.5rem;
}
