.rss-ink {
  display: block;
  position: absolute;
  background: var(--rss-ripple-background);
  border-radius: 100%;
  transform: scale(0);
}

.rss-ink-container {
  overflow: hidden;
  position: relative;
}