.rss-ink {
  position: absolute;
  transform: scale(0);

  display: block;

  border-radius: 100%;

  background: var(--rss-ripple-background);
}

.rss-ink-container {
  position: relative;
  overflow: hidden;
}
