:root {
  --rss-datepicker-panel-border-radius: var(--rss-six-px);
  --rss-datepicker-month-border-radius: var(--rss-six-px);
  --rss-datepicker-year-border-radius: var(--rss-six-px);
  --rss-datepicker-date-border-radius: 50%;
  --rss-datepicker-group-gap: var(--rss-twelve-px);
  --rss-datepicker-time-picker-gap: var(--rss-eight-px);
  --rss-datepicker-time-picker-button-gap: var(--rss-four-px);
  --rss-datepicker-date-width: 2rem;
  --rss-datepicker-date-height: 2rem;
  --rss-datepicker-transition-duration: 0.2s;
}
